/* body{
    background-color: red;
} */


.hs_link{
    color: purple;
    position: fixed;
    top:0px;
    left:0px;
}
.timer{
    color: purple;
    position: fixed;
    top:0px;
    right: 0px;
    
}

#sec_left{
    color: purple;
    position: fixed;
    top:0px;
    right:0px;

}

.introEl{

    margin: 50px;
}

.start_bttn{
    background-color: rgb(158, 97, 158);
    color: white;
    border-radius: 6px;
}