/* body{
    background-color: red;
} */


.hs_link{
    color: purple;
    position: fixed;
    top:0px;
    left:0px;
}
.timer, #sec_left{
    color: purple;
    position: fixed;
    top:0px;
    right: 0px;
    
}

.intro_page, .questions{
    margin: auto;
    
}

.start_bttn{
    background-color: rgb(158, 97, 158);
    color: white;
    border-radius: 6px;
}

.intro_page{
    text-align: center;
}

.questions{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: left;
}

.hi_score_input{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.break {
    flex-basis: 100%;
    height: 0;
  }


.score_div{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
